.faq-page{
    width:auto;
    margin-top: 48px;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 48px;
    
    
    .faq-page-noname{
        display: flex;
    }
    
    .faq-name{
        text-align: center;
        padding-top: 20px;
        
    }
    .lines-and-buttons{
        width: 50%;
               
        .lines-question{
            
            margin-top: 30px;
            .lines-faq{
                
                .textarea{
                    width:90%;
                    border-radius: 7px;
                    border:none;
                    box-shadow: 0 0 10px rgba( 0,0,0,0.1);
                    height: 42px;
                    margin-bottom:28px;
                    
                }
                .plus-button{
                    position: absolute;
                    background:none;
                    border: none;
                    left: 42%;
                    padding-top:6px;
                    cursor:pointer;
                    img{
                        margin-top: 5px;
                        width: 20px;
                        height: 20px;
                        margin-left:10px;
                    }
                }
            }
        
        }
        .right-left-buttons{
            display: flex;
            justify-content: center;
            gap: 100px;
            margin-top:20px;
            .right-left{
                border: none;
                background:none;              
            }
            img{
                width: 25px;
                height: 25px;
            }
        }
    }
    .questions-submit{
        padding-left:150px;
        h3{
            color:black;
            width: 100%;
            font-size: 30px;
            text-align: center;
            margin-bottom:2px;
        }
        .img-people{
            width: 300px;
            height: 300px;
            margin-left:40px;

        }
        .any-question{
            padding-right: 50px;
            
        }
        .p-1{
            width: 100%;
            text-align: center;
            font-size: 10px;
            margin-bottom:2px;
            margin-top:2px;
        }
        .comment-question{
            border-width: 1px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
            width: 400px;
            height: 25px;
            border: 1px solid #00000030;           
        }
        
        .submit-button-div{
            text-align: center;
            width: 100%;
            padding-top:30px;
                       
        }
        .submit-button-faq{
            left:11%;
            background-color: #F8C76C;
            border: none;
            border-radius: 6px;
            color:white;
            font-weight: bold;
            font-family: Montserrat;
            width: 100px;
            height: 25px;

            
        }
        
    }
}