.body{
    background: linear-gradient(to top, #fbddf7,#e5cae4 0%, white 50%, white 100%);
    margin: 0;
    padding: 0;
}
.register-page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    .register1{
        margin-right:150px;
        margin-top: 60px;
    }
    
    z-index: 1;
    .img-1{
        position:fixed;
        top:0;
        left:0;
        width:1300px;
        height:550px;
        pointer-events: none;
        z-index: 0;
        transform: rotate(15deg);
    }
    .img {
        z-index: 1;
        img{
            object-fit: cover; /* Ensure the image covers the entire container */
            width: 400px; /* Set width to auto */
            height: 531px/* Set height to cover the entire viewport height */
             /* Position the image absolutely */
            
                }
         }
}





