*, *::after, *::before{
    box-sizing: border-box;
}
.form-wrapper1{
    background-color: none;
    width:400px;
    position: relative;
}
.title1 {
    font-weight: bold;
    font-size:24px;
    text-align: center;
    margin-bottom:1px;
    margin-top:1px;
    line-height: 24px;
}
.title-2{
    margin-bottom:15px;
}


.form1 {
    width: 100%;
    position: relative;
    background-color: none;
    border:none;
    display: inline-left;
    flex-direction: column;

    .name-surname1{
        font-size: 16px;
        display: flex;

    }
    
    .input1{
        width:100%;
        margin:0 auto;
        padding:12px  8px;
        border-radius: 7px;
        border: none;
        outline: none; 
        box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2);
        margin-top:10px;
        display: flex;
        justify-content: space-between;
    }
    .eye-icon1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
        margin-bottom:20px;
    }
    .flex1{
        display: flex;
        justify-content: space-between;
        align-items: right;
        font-size:12px;
    }

    .remember1 {
        display: flex;
    }
    .remember-me1{
        display: inline-block;
        margin-top:20px;
        margin-bottom: 20px;
        font-size: 10px;
    }

    .password-field1 {
        width: 100%;
        position: relative;

        .eye-icon {
            position: absolute;
            top: 25%;
            right: 10px;

        }
    }
    

    
    
    .forgot1{
        font-size: 12px;       
        .forgot-password {
            display: inline-block;           
        } 
    }
    .submit-in1{
        font-size:16px;
        display: flex;
        width: 100%;
        padding-top:10px;
        padding-bottom:7px;
        border-radius:7px;        
        color:black;

        .submit1{
        width: 100%;
        background-color: black;
        color:white;
        font-weight: bold;
        font-size: 16px;
        padding-top:10px;
        padding-bottom:7px;
        border-radius:7px;   
        border:none;     
    
        }

        .cancel1{
        color:black;
        background-color: white;
        width: 100%;
        border:none;
        padding-top:10px;
        padding-bottom:7px;
        border-radius:7px;
        font-size:16px;
        font-weight:bold;
        width:200px;
        margin-right:20px;
        }
    }
    
    
    .registration1{
        text-align: center;
        justify-content: space-between;
        display: flex;
        font-size: 10px;
        margin-left:100px;
        margin-right: 100px;

        .registration-1{
            color:grey;
            text-decoration: none;
        }
        .registration-2{
            color:black;
            font-weight: bold;
            border: none;
            text-decoration: none;
        }
        
    }




}

