*, *::after, *::before{
    box-sizing: border-box;
}
.form-wrapper{
    background-color: none;
    width:400px;
    position: relative;
}
.title {
    font-weight: bold;
    font-size:24px;
    text-align: center;
    margin-bottom:1px;
    margin-top:1px;
    line-height: 24px;
}
.title-2{
    margin-bottom:15px;
}


.form {
    width: 100%;
    border:2px solid #ccc;
    position: relative;
    background-color: white;
    display: inline-left;
    flex-direction: column;

    .name-surname{
        font-size: 16px;
        display: flex;

    }
    
    .input{
        width:100%;
        margin:0 auto;
        padding:12px  8px;
        border-radius: 7px;
        border: none;
        outline: none; 
        box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.2);
        margin-top:15px;
        display: flex;
        justify-content: space-between;
    }
    .eye-icon{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
        margin-bottom:20px;
    }
    .flex{
        display: flex;
        justify-content: space-between;
        align-items: right;
        font-size:12px;
    }

    .remember {
        display: flex;
    }
    .remember-me{
        display: inline-block;
        margin-top:5px;
        font-size: 10px;
    }

    .password-field {
        width: 100%;
        position: relative;

        .eye-icon {
            position: absolute;
            top: 25%;
            right: 10px;

        }
    }
    

    
    
    .forgot{
        font-size: 12px;       
        .forgot-password {
            display: inline-block;           
        } 
    }
    .submit-in{
        font-size:16px;
        display: flex;
        width: 100%;
        padding-top:10px;
        padding-bottom:7px;
        border-radius:7px;        
        color:black;

        .submit{
        width: 100%;
        background-color: black;
        color:white;
        font-weight: bold;
        font-size: 16px;
        padding-top:10px;
        padding-bottom:7px;
        border-radius:7px;   
        border:none;     
    
        }

        .cancel{
        color:black;
        width: 100%;
        border:none;
        padding-top:10px;
        padding-bottom:7px;
        border-radius:7px;
        font-size:16px;
        font-weight:bold;
        }
    }
    
    
    .registration{
        text-align: center;
        justify-content: space-between;
        display: flex;
        font-size: 10px;
        margin-left:100px;
        margin-right: 100px;

        .registration-1{
            color:grey;
            text-decoration: none;
        }
        .registration-2{
            color:black;
            font-weight: bold;
            border: none;
            text-decoration: none;
        }
        
    }




}

